<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/ctf/jersey/base.css">  


<title>Sumeet Darekar</title>
</head>
<body>
  

<ul>
  
  <li><a class="active" href="/about">About me</a></li>
 
  <li><a href="/">CTF's Writeups</a></li>

  <li><a href="/feedback">Feedback</a></li>
  
</ul>
{% block body %}
{% endblock body %}



</body>
</html>