body{
    margin: 0px;
    padding: 0px;
    background-color: #1c1e26!important;
    width: 100%;
}
a:hover{
  
  background-color: black;
}

#about{
    text-align: center; color: #53b4ff; font-size: 70px;
}

#p1{
    color: whitesmoke; text-align: center; font-family: Arial, Helvetica, sans-serif;
}


